<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Our History
      </div>
      <div class="item item-text-wrap">
          <p>
          Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.
          </p>
          <p>
          The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.
          </p>
      </div>

    </div>
    <div class="list list-inset">
      <div class="item item-divider">
        Corporate Leadership
      </div>
      <div class="item item-text-wrap item-avatar" href="#"  ng-repeat="leader in leaders">
        <img ng-src="{{baseURL+leader.image}}" alt="{{leader.name}}">
        <h3>{{leader.name}}</h3>
        <h4>{{leader.designation}}</h4>
        <p>{{leader.description}}</p>
      </div>

    </div>
      
  </ion-content>
</ion-view>