<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
            <h2>Our Address</h2>
            <p style="font-size:100%">121, Clear Water Bay Road</p>
            <p style="font-size:100%">Clear Water Bay, Kowloon</p>
            <p style="font-size:100%">HONG KONG</p>
            <div class="icon icon-left ion-ios-telephone" style="font-size:100%">: +852 1234 5678</div>
            <div class="ion-printer" style="font-size:100%">: +852 8765 4321</div>
            <div class="ion-ios-email" style="font-size:100%">: <a href="mailto:confusion@food.net?Subject=Hello">confusion@food.net</a></div>
      </div>
      <div class="button-bar">
            <a class="button icon icone-center ion-ios-telephone button-positive col"> Call</a>
            <a class="button icon icon-center ion-social-skype button-calm col"> Skype</a>
            <a class="button icon icon-center ion-ios-email button-balanced col"> Email</a>
      </div>

    </div>
  </ion-content>
</ion-view>